<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Urbanic Bootstrap CSS Template</title>
        <meta name="keywords" content="" />
		<meta name="description" content="" />
<!--
Urbanic Template
https://templatemo.com/tm-395-urbanic
-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<link rel="shortcut icon" href="PUT YOUR FAVICON HERE">-->
        
        <!-- Google Web Font Embed -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        
      
    </head>
    
    <body>

        <div class="templatemo-top-bar" id="templatemo-top">
            <div class="container">
                <div class="subheader">
                    <div id="phone" class="pull-left">
                            <img src="img/phone.png" alt="phone"/>
                            052-557-4721
                    </div>
                    <div id="email" class="pull-right">
                            <img src="img/email.png" alt="email"/>
                            info@company.com
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <!-- Carousel -->
            <div id="templatemo-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#templatemo-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#templatemo-carousel" data-slide-to="1" ></li>
                    <li data-target="#templatemo-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="active item one ">
                        <div class="container" >           
                            <div class="carousel-caption">
                                <h1>WELCOME TO SMART DISTRIBUTION!</h1>
                                <p>A charity organization that helps the needy around the country</p>                              
                            </div>
                        </div>
                    </div>
                    
                    <div class="item two">
                        <div class="container">                        
                                <div class="carousel-caption">                                
                                    	<h1>WE SUPPORT</h1>
                                        <p>Over a 1000 families in need by giving them a weekly package of essential products</p>                                    
                                    
                                </div>
                        </div>
                    </div>
                        <div class="item three">
                            <div class="container">
                                <div class="carousel-caption">
                                	<h1>JOIN US NOW!</h1>
                                    <p> By joining our volenteers you become part of a chain of hope for vulnerable people, families and communities<br>You could also give us financial support<br>Our work is only possible because of you – thank you for your commitment and support.</p>
                                    <p><a class="btn btn-lg btn-orange" href="#" role="button">Contact Us</a></p>
                                </div>
                            </div>
                        </div>
                </div>
                <a class="left carousel-control" href="#templatemo-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#templatemo-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div><!-- /#templatemo-carousel -->
        </div>

        <div class="templatemo-welcome" id="templatemo-welcome">
            <div class="container">
                <div class="templatemo-slogan text-center">
                    <span class="txt_darkgrey"><br><br><br><br><br> A volunteer company</span>
                    <p class="txt_slogan">
                        <i>
                            Volunteer bodies support the elderly and people with reduced mobility, and provide them with food and medicine in times of distress. The division is organized
On a daily level. The division manager is responsible for entering details, creating an address group for efficient division and inserting a divider, which in turn is responsible for updating
Any division with its execution.
<br>
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                </i></p>
                </div>	
            </div>
            </div>
        </div>
        
        
        

        
        <div id="templatemo-contact">
            <div class="container">
                <div class="row">
                    <div class="templatemo-line-header head_contact">
                        <div class="text-center">
                            <hr class="team_hr team_hr_left hr_gray"/><span class="txt_darkgrey">CONTACT US</span>
                            <hr class="team_hr team_hr_right hr_gray"/>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="templatemo-contact-map" id="map-canvas"> </div>  
                        <div class="clearfix"></div>
                        <i>You can find us on 80 JCT street, <span class="txt_orange">Digital Estate</span> in Yangon.</i>
                    </div>
                    <div class="col-md-4 contact_right">
                        <p>For supporting us or if you of need of any help,<br> please contact us and we will get to you as soon as possible.</p>
                        <p><img src="img/location.png" alt="icon 1" /> 80 JCT street, Jerusalem, Digital Estate</p>
                        <p><img src="img/phone1.png"  alt="icon 2" /> 02-080-0110</p>
                        <p><img src="img/globe.png" alt="icon 3" /><a class="link_orange" href="#"><span class="txt_orange">www.helpCommunity.com</span></a></p>
                        <form class="form-horizontal" action="#">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Name..." maxlength="40" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email..." maxlength="40" />
                            </div>
                            <div class="form-group">
                                <textarea  class="form-control" style="height: 130px;" placeholder="Write down your message..."></textarea>
                            </div>
                            <button type="submit" class="btn btn-orange pull-right">SEND</button>
                        </form>
                        	
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /#templatemo-contact -->


        
        <div class="templatemo-footer" >
            <div class="container">
                <div class="row">
                    <div class="text-center">

                        <div class="footer_container">
                            <ul class="list-inline">
                                <li>
                                    <a href="https://www.facebook.com" target="_blank">
                                        <span class="social-icon-fb"></span>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="https://twitter.com/?lang=he" target="_blank">
                                        <span class="social-icon-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <span class="social-icon-linkedin"></span>
                                    </a>
                                </li>
                                
                            </ul>
                            <div class="height30"></div>
                            <a class="btn btn-lg btn-orange" href="#" role="button" id="btn-back-to-top">Back To Top</a>
                            <div class="height30"></div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
       
    </body>
</html>